# Used by Docker Compose
DATABASE_URL="postgresql://postgres:password@localhost:5432/tasksdb?schema=public"

# Used when running locally without Docker
# DATABASE_URL="postgresql://postgres:password@localhost:5432/tasksdb"
PORT=3000